# Import Data

In [ ]:
# Install pandaSQL
!pip install -U pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.39)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26784 sha256=bca8bed93c6873a44a8946873b36bff215c6e749db930f81d17d22fa63e38e04
  Stored in directory: /root/.cache/pip/wheels/5c/4b/ec/41f4e116c8053c3654e2c2a47c62b4fca34cc67ef7b55deb7f
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
# Import libraries
import pandas as pd
import pandasql as ps
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/all_csv sorted.csv')

In [ ]:
df.columns

Index(['Unnamed: 0', 'Country code', 'Country', 'Continental region',
       'NO. OF Internet Plans ', 'Average price of 1GB (USD)',
       'Cheapest 1GB for 30 days (USD)', 'Most expensive 1GB (USD)',
       'Average price of 1GB (USD  at the start of 2021)',
       'Average price of 1GB (USD – at start of 2020)', 'Internet users',
       'Population', 'Avg \n(Mbit/s)Ookla'],
      dtype='object')

# Preparing Data

In [ ]:
# Drop columns
df = df.drop(['Unnamed: 0'], axis=1)
df = df.drop(['Country code'], axis=1)

In [ ]:
# Rename columns
df.rename(columns = {'Continental region':'Continental_region', 
                     'NO. OF Internet Plans ':'NO._OF_Internet_Plans',
                     'Average price of 1GB (USD)':'Average_price_of_1GB_USD',
                     'Cheapest 1GB for 30 days (USD)':'Cheapest_1GB_for_30_days_USD', 
                     'Most expensive 1GB (USD)':'Most_expensive_1GB_USD',
                     'Average price of 1GB (USD  at the start of 2021)':'Average_price_of_1GB_USD_at_the_start_of_2021',
                     'Average price of 1GB (USD – at start of 2020)':'Average_price_of_1GB_USD_at_start_of_2020',
                     'Internet users':'Internet_Users',
                     'Avg \n(Mbit/s)Ookla':'Speed_in_Mb/s'}, inplace = True)

In [ ]:
df.tail()

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
238,Vatican City (Holy See),Europe,NaN,NO PROVIDERS,NaN,NaN,NaN,NaN,NaN,NaN,NaN
239,Venezuela,SOUTH AMERICA,NaN,HYPERINFLATION,NaN,NaN,NaN,NaN,"20,564,451","28,887,118",5.68
240,Wallis and Futuna,OCEANIA,NaN,NO PROVIDERS,NaN,NaN,NaN,NaN,"1,383","11,661",NaN
241,Democratic Republic of the Congo,SUB-SAHARAN AFRICA,NaN,Prices listed in non-convertible 'units',NaN,NaN,NaN,NaN,"7,011,507","84,068,091",12.08
242,Zimbabwe,SUB-SAHARAN AFRICA,NaN,UNRELIABLE EXCHANGE RATES,NaN,NaN,NaN,NaN,"4,472,992","14,438,802",13.99

In [ ]:
# Check the null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 11 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Country                                        243 non-null    object
 1   Continental_region                             243 non-null    object
 2   NO._OF_Internet_Plans                          231 non-null    float64
 3   Average_price_of_1GB_USD                       243 non-null    object
 4   Cheapest_1GB_for_30_days_USD                   231 non-null    float64
 5   Most_expensive_1GB_USD                         231 non-null    float64
 6   Average_price_of_1GB_USD_at_the_start_of_2021  231 non-null    object
 7   Average_price_of_1GB_USD_at_start_of_2020      231 non-null    object
 8   Internet_Users                                 213 non-null    object
 9   Population                                     211 non-null    object
 10  Speed_in_Mb/s                                  141 non-null    float64
dtypes: float64(4), object(7)
memory usage: 21.0+ KB

In [ ]:
# Drop null values
df.drop(df[df['Population'].isnull()].index,inplace = True)

df.drop(df[df['Average_price_of_1GB_USD'] == 'NO PROVIDERS'].index,inplace = True)
df.drop(df[df['Average_price_of_1GB_USD'] == 'HYPERINFLATION'].index,inplace = True)
df.drop(df[df['Average_price_of_1GB_USD'] == "Prices listed in non-convertible 'units'"].index,inplace = True)

df.drop(df[df['NO._OF_Internet_Plans'].isnull()].index,inplace = True)

df.drop(df[df['Average_price_of_1GB_USD_at_start_of_2020'] == 'NO PACKAGES'].index,inplace = True)
df.drop(df[df['Average_price_of_1GB_USD_at_the_start_of_2021'] == 'NO PACKAGES'].index,inplace = True)
df.drop(df[df['Speed_in_Mb/s'].isnull()].index,inplace = True)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 135 entries, 0 to 227
Data columns (total 11 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Country                                        135 non-null    object
 1   Continental_region                             135 non-null    object
 2   NO._OF_Internet_Plans                          135 non-null    float64
 3   Average_price_of_1GB_USD                       135 non-null    object
 4   Cheapest_1GB_for_30_days_USD                   135 non-null    float64
 5   Most_expensive_1GB_USD                         135 non-null    float64
 6   Average_price_of_1GB_USD_at_the_start_of_2021  135 non-null    object
 7   Average_price_of_1GB_USD_at_start_of_2020      135 non-null    object
 8   Internet_Users                                 135 non-null    object
 9   Population                                     135 non-null    object
 10  Speed_in_Mb/s                                  135 non-null    float64
dtypes: float64(4), object(7)
memory usage: 12.7+ KB

# Queries - Overview by Region

In [ ]:
# Check the continental regions
df['Continental_region'].value_counts()

ASIA (EX. NEAR EAST)    24
SUB-SAHARAN AFRICA      18
WESTERN EUROPE          17
NEAR EAST               15
EASTERN EUROPE          14
CIS (FORMER USSR)       10
SOUTH AMERICA           10
CARIBBEAN                7
CENTRAL AMERICA          7
NORTHERN AFRICA          5
OCEANIA                  3
BALTICS                  3
NORTHERN AMERICA         2
Name: Continental_region, dtype: int64

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'NORTHERN AMERICA'
ORDER BY Country
""")

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Canada,NORTHERN AMERICA,60.0,5.72,0.8,79.54,12.55,13.21,"33,950,632","37,064,562",75.18
1,United States,NORTHERN AMERICA,45.0,3.33,1.0,30.00,8.00,8.34,"312,320,000","327,096,265",61.12

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'CENTRAL AMERICA'
ORDER BY Country
"""
)

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Costa Rica,CENTRAL AMERICA,15.0,2.36,1.60,2.94,2.74,4.89,"3,511,549","4,999,441",17.46
1,El Salvador,CENTRAL AMERICA,25.0,1.33,0.50,7.50,1.45,4.55,"1,993,079","6,420,746",21.03
2,Guatemala,CENTRAL AMERICA,24.0,1.94,1.29,5.14,2.17,4.84,"11,750,000","17,247,849",17.30
3,Honduras,CENTRAL AMERICA,22.0,1.56,0.69,50.00,3.12,4.69,"2,977,793","9,587,522",20.73
4,Mexico,CENTRAL AMERICA,45.0,3.62,1.20,12.06,4.77,15.05,"92,010,000","128,972,439",29.81
5,Nicaragua,CENTRAL AMERICA,30.0,0.94,0.02,2.82,1.71,65.83,"1,732,218","6,465,501",18.30
6,Panama,CENTRAL AMERICA,8.0,4.49,2.00,7.48,6.69,4.69,"2,371,852","4,176,869",17.03

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'CARIBBEAN'
ORDER BY Country
"""
)

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Aruba (Netherlands),CARIBBEAN,17.0,4.44,0.74,8.96,9.11,5.56,"15,877,494","17,059,560",108.33
1,Aruba (Netherlands),CARIBBEAN,17.0,4.44,0.74,8.96,9.11,5.56,"102,285","105,845",108.33
2,Bahamas,CARIBBEAN,17.0,5.98,3.99,10.74,6.02,4.94,"336,057","385,637",26.77
3,Dominican Republic,CARIBBEAN,22.0,1.51,0.33,18.17,0.74,1.28,"6,997,472","10,627,141",20.70
4,Haiti,CARIBBEAN,13.0,0.85,0.27,1.90,2.74,1.25,"1,353,986","11,123,178",12.49
5,Jamaica,CARIBBEAN,11.0,2.74,0.86,9.60,3.88,2.43,"1,409,888","2,934,847",30.84
6,Trinidad and Tobago,CARIBBEAN,12.0,1.90,0.21,143.18,5.92,2.69,"1,058,744","1,389,843",28.37

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'SOUTH AMERICA'
ORDER BY Country
"""
)

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Argentina,SOUTH AMERICA,28.0,2.38,0.44,11.47,1.45,7.40,"33,561,876","44,361,150",20.64
1,Bolivia,SOUTH AMERICA,48.0,2.18,0.87,14.44,5.09,5.99,"4,843,916","11,353,142",14.10
2,Brazil,SOUTH AMERICA,58.0,0.92,0.18,2.72,1.01,3.50,"160,010,801","209,469,323",22.30
3,Chile,SOUTH AMERICA,59.0,0.39,0.24,1.83,0.71,1.87,"14,864,456","18,729,160",22.49
4,Colombia,SOUTH AMERICA,60.0,2.80,0.42,9.88,3.46,3.22,"30,548,252","49,661,048",12.35
5,Ecuador,SOUTH AMERICA,19.0,1.06,0.63,3.00,3.24,6.93,"9,521,056","17,084,358",17.70
6,Paraguay,SOUTH AMERICA,27.0,2.53,0.73,9.12,2.30,11.56,"4,160,340","6,956,066",15.15
7,Peru,SOUTH AMERICA,49.0,1.15,0.85,15.58,2.13,2.48,"15,674,241","31,989,260",15.64
8,Suriname,SOUTH AMERICA,12.0,1.94,1.72,2.73,4.92,6.08,"275,785","575,990",40.70
9,Uruguay,SOUTH AMERICA,35.0,1.51,0.10,6.33,1.58,2.80,"2,360,269","3,449,285",34.43

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'OCEANIA'
ORDER BY Country
"""
)

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Australia,OCEANIA,46.0,0.70,0.10,7.62,0.68,2.47,"21,159,515","24,898,152",76.52
1,Fiji,OCEANIA,18.0,0.19,0.05,0.85,0.59,3.57,"452,479","883,483",25.99
2,New Zealand,OCEANIA,36.0,6.99,1.22,27.98,6.06,9.79,"4,273,353","4,743,131",49.49

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'NORTHERN AFRICA'
ORDER BY Country
"""
)

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Algeria,NORTHERN AFRICA,20.0,0.51,0.16,2.24,0.65,5.15,"26,350,000","42,228,408",12.44
1,Egypt,NORTHERN AFRICA,40.0,1.04,0.02,2.38,1.09,1.49,"54,740,141","98,423,598",19.73
2,Libya,NORTHERN AFRICA,16.0,0.74,0.00,2.22,4.73,4.87,"1,387,116","6,678,559",10.40
3,Morocco,NORTHERN AFRICA,24.0,0.88,0.44,5.50,0.99,1.66,"22,072,765","36,029,093",27.84
4,Tunisia,NORTHERN AFRICA,25.0,1.09,0.33,3.63,1.37,3.67,"6,400,330","11,565,201",22.64

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'SUB-SAHARAN AFRICA'
ORDER BY Country
"""
)

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Angola,SUB-SAHARAN AFRICA,20.0,1.61,1.03,3.21,5.29,7.95,"4,271,053","30,809,787",22.59
1,Botswana,SUB-SAHARAN AFRICA,30.0,3.92,1.63,36.23,13.87,16.79,"948,977","2,254,068",24.14
2,Cameroon,SUB-SAHARAN AFRICA,44.0,0.90,0.60,7.22,2.75,1.71,"5,580,465","25,216,267",11.88
3,Ethiopia,SUB-SAHARAN AFRICA,3.0,1.71,1.41,4.17,2.44,2.06,"19,543,075","109,224,414",21.08
4,Ghana,SUB-SAHARAN AFRICA,34.0,0.66,0.17,3.47,0.94,1.56,"15,065,541","29,767,102",8.44
5,Kenya,SUB-SAHARAN AFRICA,50.0,2.25,0.26,10.93,1.05,2.73,"8,861,485","51,392,565",16.93
6,Malawi,SUB-SAHARAN AFRICA,5.0,25.46,20.37,25.46,27.41,3.59,"2,566,126","18,143,217",17.95
7,Mauritius,SUB-SAHARAN AFRICA,18.0,0.75,0.04,6.49,2.48,0.51,"702,911","1,267,185",18.09
8,Mozambique,SUB-SAHARAN AFRICA,19.0,2.79,0.19,6.98,3.33,12.82,"6,162,217","29,496,004",15.66
9,Nigeria,SUB-SAHARAN AFRICA,60.0,0.88,0.03,5.25,1.39,7.91,"136,203,231","195,874,685",18.92
10,Senegal,SUB-SAHARAN AFRICA,35.0,0.94,0.30,6.02,3.30,3.28,"4,698,108","15,854,323",21.44
11,Somalia,SUB-SAHARAN AFRICA,27.0,0.60,0.18,6.67,0.50,6.19,"294,851","15,008,226",7.95
12,South Africa,SUB-SAHARAN AFRICA,60.0,2.67,0.12,34.95,4.30,7.77,"31,858,027","57,792,518",33.62
13,Sudan,SUB-SAHARAN AFRICA,33.0,0.27,0.03,0.92,0.63,0.68,"12,512,639","41,801,533",9.50
14,Tanzania,SUB-SAHARAN AFRICA,60.0,0.75,0.28,4.31,0.73,3.71,"30,000,000","56,313,438",10.39
15,Togo,SUB-SAHARAN AFRICA,18.0,4.69,2.03,40.64,4.50,15.12,"963,795","7,889,093",34.42
16,Uganda,SUB-SAHARAN AFRICA,60.0,1.56,0.45,22.71,1.62,5.02,"10,162,807","42,729,036",15.99
17,Zambia,SUB-SAHARAN AFRICA,60.0,1.13,0.01,6.80,1.36,2.25,"4,760,715","17,351,708",10.36

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'ASIA (EX. NEAR EAST)'
ORDER BY Country
""")

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Afghanistan,ASIA (EX. NEAR EAST),35.0,1.02,0.38,2.12,1.55,1.60,"4,068,194","37,171,921",5.50
1,Bangladesh,ASIA (EX. NEAR EAST),60.0,0.34,0.11,2.22,0.70,0.99,"129,180,000","166,303,498",10.43
2,Brunei,ASIA (EX. NEAR EAST),9.0,2.23,1.78,7.43,2.64,8.51,"406,705","428,963",71.38
3,Cambodia,ASIA (EX. NEAR EAST),23.0,0.83,0.10,2.00,1.50,10.18,"5,441,827","16,249,792",16.12
4,China,ASIA (EX. NEAR EAST),36.0,0.52,0.30,1.21,0.61,9.89,"1,010,740,000","1,427,647,786",83.43
5,"Hong Kong, China",ASIA (EX. NEAR EAST),52.0,2.30,0.21,10.73,2.55,7.15,"6,585,678","7,371,730",47.34
6,India,ASIA (EX. NEAR EAST),58.0,0.68,0.05,2.73,0.09,0.26,"833,710,000","1,352,642,280",13.67
7,Indonesia,ASIA (EX. NEAR EAST),53.0,0.42,0.17,2.94,0.64,2.99,"196,000,000","267,670,543",17.70
8,Iran,ASIA (EX. NEAR EAST),52.0,1.52,0.22,6.21,0.75,1.88,"78,086,663","81,800,188",24.90
9,Japan,ASIA (EX. NEAR EAST),35.0,3.38,0.88,45.53,3.91,10.40,"117,400,000","127,202,192",44.05
10,Laos,ASIA (EX. NEAR EAST),25.0,3.19,0.18,4.25,4.16,3.42,"1,749,517","7,061,507",23.41
11,Malaysia,ASIA (EX. NEAR EAST),60.0,0.89,0.12,7.26,1.12,1.66,"25,343,685","31,528,033",25.87
12,Maldives,ASIA (EX. NEAR EAST),23.0,3.24,1.85,12.95,3.88,5.79,"275,717","515,696",47.93
13,Mongolia,ASIA (EX. NEAR EAST),42.0,0.60,0.22,3.70,0.74,0.82,"729,236","3,170,216",16.69
14,Myanmar,ASIA (EX. NEAR EAST),35.0,0.78,0.00,14.15,0.78,0.87,"16,374,103","53,708,320",24.06
15,Nepal,ASIA (EX. NEAR EAST),35.0,0.61,0.22,2.66,0.86,2.25,"16,190,000","28,095,714",16.45
16,Pakistan,ASIA (EX. NEAR EAST),60.0,0.59,0.06,8.59,0.69,1.85,"118,800,000","213,756,286",16.73
17,Philippines,ASIA (EX. NEAR EAST),30.0,1.77,0.95,8.21,1.42,3.16,"73,003,313","106,651,394",19.48
18,Singapore,ASIA (EX. NEAR EAST),35.0,1.09,0.25,74.32,2.47,2.87,"4,821,119","5,757,499",67.99
19,South Korea,ASIA (EX. NEAR EAST),18.0,4.72,0.06,96.88,10.94,9.21,"49,421,084","51,171,706",117.95
20,Sri Lanka,ASIA (EX. NEAR EAST),60.0,0.38,0.00,5.53,0.51,0.78,"7,121,116","21,228,763",13.15
21,Taiwan,ASIA (EX. NEAR EAST),42.0,5.67,0.42,46.67,5.91,12.02,"21,920,626","23,726,460",53.93
22,Thailand,ASIA (EX. NEAR EAST),60.0,1.06,0.34,10.32,1.23,2.78,"54,043,108","69,428,453",33.49
23,Vietnam,ASIA (EX. NEAR EAST),46.0,0.49,0.07,5.55,0.57,1.31,"68,172,134","95,545,962",33.90

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'NEAR EAST'
ORDER BY Country
""")

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Bahrain,NEAR EAST,24.0,2.12,1.27,8.49,2.27,2.00,"1,431,090","1,569,446",53.08
1,Cyprus,NEAR EAST,22.0,8.84,2.06,59.10,13.56,20.25,"952,369","1,189,265",75.48
2,Iraq,NEAR EAST,33.0,1.14,0.68,27.35,4.20,8.00,"18,892,351","38,433,600",39.90
3,Israel,NEAR EAST,27.0,0.05,0.02,20.95,0.11,0.90,"6,788,737","8,381,516",28.01
4,Jordan,NEAR EAST,42.0,1.41,0.24,7.05,1.03,1.79,"6,480,202","9,965,318",19.47
5,Kuwait,NEAR EAST,42.0,0.81,0.01,6.29,0.77,2.01,"4,053,797","4,137,312",96.23
6,Lebanon,NEAR EAST,15.0,4.81,1.21,77.70,3.82,5.84,"4,755,187","6,859,408",16.38
7,Lebanon,NEAR EAST,15.0,4.81,1.21,77.70,3.82,5.84,"4,755,187","6,859,408",16.38
8,Oman,NEAR EAST,60.0,2.12,0.13,8.67,4.58,11.28,"3,717,818","4,829,473",44.47
9,Qatar,NEAR EAST,9.0,3.20,1.10,4.39,4.12,12.57,"2,532,059","2,781,682",120.69
10,Saudi Arabia,NEAR EAST,60.0,1.47,0.33,13.33,2.12,5.62,"27,048,861","33,702,756",102.79
11,Syria,NEAR EAST,14.0,7.15,0.19,38.80,6.55,4.14,"6,257,430","16,945,057",13.24
12,Turkey,NEAR EAST,60.0,0.63,0.05,2.26,0.72,2.25,"69,945,905","82,340,088",30.48
13,United Arab Emirates,NEAR EAST,51.0,7.62,0.80,34.30,3.78,10.23,"8,913,217","9,630,959",135.35
14,Yemen,NEAR EAST,17.0,15.98,0.40,39.94,15.98,15.73,"7,548,512","28,498,683",16.89

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'WESTERN EUROPE'
ORDER BY Country
""")

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Austria,WESTERN EUROPE,60.0,1.17,0.24,23.43,1.08,1.88,"7,681,957","8,891,388",56.60
1,Belgium,WESTERN EUROPE,37.0,5.28,1.48,21.30,4.88,3.12,"10,021,242","11,482,178",58.65
2,Denmark,WESTERN EUROPE,34.0,0.79,0.00,2.23,0.80,1.36,"5,407,278","5,752,126",105.65
3,Finland,WESTERN EUROPE,18.0,0.97,0.26,1.63,2.14,1.16,"4,831,170","5,522,576",71.23
4,France,WESTERN EUROPE,45.0,0.41,0.09,118.20,0.81,1.21,"59,470,000","64,990,511",60.94
5,Germany,WESTERN EUROPE,60.0,3.38,0.35,11.83,4.06,6.96,"77,794,405","83,124,418",55.70
6,Greece,WESTERN EUROPE,22.0,8.16,1.06,768.87,12.06,4.91,"7,923,438","10,522,246",59.42
7,Ireland,WESTERN EUROPE,12.0,1.42,0.13,11.64,1.36,3.95,"4,024,552","4,818,690",30.16
8,Italy,WESTERN EUROPE,29.0,0.27,0.09,3.54,0.43,1.73,"50,540,000","60,627,291",37.15
9,Luxembourg,WESTERN EUROPE,20.0,3.00,1.42,7.10,3.89,13.95,"570,794","604,245",82.85
10,Malta,WESTERN EUROPE,27.0,2.01,0.82,59.04,3.62,13.10,"344,970","439,248",49.66
11,Norway,WESTERN EUROPE,21.0,5.81,1.74,29.03,5.28,5.33,"5,120,225","5,337,962",134.73
12,Portugal,WESTERN EUROPE,21.0,3.85,1.18,14.15,4.97,13.98,"7,622,142","10,256,193",64.30
13,Spain,WESTERN EUROPE,44.0,1.24,0.57,57.98,1.81,0.56,"42,400,756","46,692,858",34.26
14,Sweden,WESTERN EUROPE,58.0,1.45,0.20,75.08,2.07,3.66,"9,554,907","9,971,638",73.61
15,Switzerland,WESTERN EUROPE,14.0,5.24,1.60,17.83,8.38,20.22,"7,942,864","8,525,611",82.29
16,United Kingdom,WESTERN EUROPE,60.0,1.42,0.11,71.29,1.39,6.66,"65,001,016","67,141,684",48.10

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'EASTERN EUROPE'
ORDER BY Country
""")

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Albania,EASTERN EUROPE,32.0,2.80,0.72,96.39,2.83,5.28,"2,105,339","2,882,740",40.48
1,Bosnia and Herzegovina,EASTERN EUROPE,24.0,2.39,0.63,21.26,3.04,3.05,"2,320,000","3,323,925",28.49
2,Bulgaria,EASTERN EUROPE,21.0,2.26,0.63,84.50,2.22,11.51,"4,492,326","7,051,608",87.51
3,Croatia,EASTERN EUROPE,26.0,2.35,0.26,12.92,2.48,4.00,"2,811,056","4,156,405",86.48
4,Czech Republic,EASTERN EUROPE,34.0,8.15,0.94,36.05,7.95,32.71,"8,358,728","10,665,677",44.55
5,Hungary,EASTERN EUROPE,21.0,1.70,0.16,8.04,5.32,2.91,"7,461,297","9,707,499",41.32
6,Moldova,EASTERN EUROPE,18.0,0.32,0.07,2.79,1.12,2.82,"3,083,783","4,051,944",29.46
7,Montenegro,EASTERN EUROPE,21.0,2.12,0.14,5.90,3.94,2.83,"505,055","627,809",41.93
8,North Macedonia,EASTERN EUROPE,18.0,0.96,0.48,9.60,1.75,3.62,"1,589,659","2,082,957",64.23
9,Poland,EASTERN EUROPE,60.0,0.64,0.03,23.02,0.70,1.32,"34,697,848","37,921,592",40.14
10,Romania,EASTERN EUROPE,16.0,1.18,0.11,11.83,1.03,1.89,"12,545,558","19,506,114",36.90
11,Serbia,EASTERN EUROPE,38.0,1.30,0.17,14.09,1.60,4.83,"6,182,411","8,802,754",45.81
12,Slovakia,EASTERN EUROPE,45.0,3.55,1.04,35.50,3.84,7.38,"4,446,926","5,453,014",33.44
13,Slovenia,EASTERN EUROPE,28.0,1.72,0.02,88.68,1.48,2.21,"1,640,893","2,077,837",54.57

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'CIS (FORMER USSR)'
ORDER BY Country
""")

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Armenia,CIS (FORMER USSR),21.0,0.76,0.22,13.02,1.05,2.51,"2,043,110","2,951,745",22.01
1,Azerbaijan,CIS (FORMER USSR),42.0,1.82,0.24,9.80,1.86,6.42,"7,763,795","9,949,537",30.40
2,Belarus,CIS (FORMER USSR),14.0,0.43,0.02,16.62,0.89,2.36,"7,048,231","9,452,617",9.99
3,Georgia,CIS (FORMER USSR),20.0,1.80,0.30,7.98,0.93,5.63,"3,446,533","4,002,942",30.67
4,Kazakhstan,CIS (FORMER USSR),19.0,0.59,0.25,2.35,0.46,0.49,"13,913,699","18,319,618",18.71
5,Kyrgyzstan,CIS (FORMER USSR),20.0,0.15,0.10,7.08,0.21,0.27,"2,309,235","6,304,030",16.30
6,Russia,CIS (FORMER USSR),22.0,0.29,0.13,1.86,0.52,0.91,"124,000,000","145,734,038",20.46
7,Tajikistan,CIS (FORMER USSR),22.0,2.60,0.87,13.12,4.65,4.10,"1,959,127","9,100,835",7.05
8,Ukraine,CIS (FORMER USSR),19.0,0.75,0.14,35.88,0.46,5.93,"31,100,000","44,246,156",15.62
9,Uzbekistan,CIS (FORMER USSR),60.0,0.60,0.01,23.75,1.34,3.27,"16,692,456","32,476,244",13.27

In [ ]:
ps.sqldf("""
SELECT * FROM df
WHERE Continental_region = 'BALTICS'
ORDER BY Country
""")

,Country,Continental_region,NO._OF_Internet_Plans,Average_price_of_1GB_USD,Cheapest_1GB_for_30_days_USD,Most_expensive_1GB_USD,Average_price_of_1GB_USD_at_the_start_of_2021,Average_price_of_1GB_USD_at_start_of_2020,Internet_Users,Population,Speed_in_Mb/s
0,Estonia,BALTICS,34.0,1.39,0.35,18.93,1.27,3.67,"1,153,786","1,322,920",55.07
1,Latvia,BALTICS,22.0,3.49,0.29,70.87,3.79,18.12,"1,585,471","1,928,459",41.60
2,Lithuania,BALTICS,23.0,1.38,0.09,17.75,1.85,2.06,"2,243,448","2,801,264",50.13

In [ ]:
# Save the altered table
df.to_csv('/content/drive/MyDrive/all_csv sorted.csv', encoding='utf-8', index=False)